In [ ]:
import pandas as pd
import sqlalchemy
import pymongo
import numpy as np

In [ ]:
username = 'postgres'
password = 'postgres'
database = 'test'
host = 'localhost'  # or your database hostd
port = '5432'  # default MySQL port

In [ ]:
engine = sqlalchemy.create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')
conn = engine.raw_connection()
conn

In [ ]:
df1 = pd.read_sql('SELECT * FROM план;',conn)
df2 = pd.read_sql('SELECT * FROM туризм;',conn)

In [ ]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["test"]

In [ ]:
n = mydb.list_collection_names()[1]
df3 = pd.DataFrame(list(mydb[n].find()))

In [ ]:
n = mydb.list_collection_names()[2]
df4 = pd.DataFrame(list(mydb[n].find()))

In [ ]:
keys = ['план','туризм','факт','статистика']
data = {}

In [ ]:
data['план'] = df1
data['туризм'] = df2
data['факт'] = df3
data['статистика'] = df4

In [ ]:
#df1.to_sql('план', con=engine, if_exists='replace', index=False)
#df2.to_sql('туризм', con=engine, if_exists='replace', index=False)
#df3.to_sql('факт', con=engine, if_exists='replace', index=False)
#df4.to_sql('статистика', con=engine, if_exists='replace', index=False)

In [ ]:
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")
#n_db = myclient["main_db"]
#myclient.drop_database("main_db")
#
#n_db['план'].insert_many(df1.to_dict(orient="records"))
#n_db['туризм'].insert_many(df2.to_dict(orient="records"))
#n_db['факт'].insert_many(df3.to_dict(orient="records"))
#n_db['статистика'].insert_many(df4.to_dict(orient="records"))
#
#for key in keys:
#    data[key] = pd.DataFrame(list(n_db[key].find()))

In [ ]:
#for key in keys:
#   data[key] = pd.read_sql(f'SELECT * FROM {key};',conn)

In [ ]:
for key in keys:
    print(key, data[key].isna().sum().sum())

In [ ]:
for key in keys:
    print(key, data[key].duplicated().sum())

In [ ]:
#data['план'] = data['план'].drop_duplicates()

In [ ]:
data['факт'].drop(columns = ['_id'],inplace = True)
data['статистика'].drop(columns = ['_id',''],inplace = True)

In [ ]:
data['туризм'].drop_duplicates(inplace = True)

In [ ]:
data['туризм']

In [ ]:
data['туризм'].isna().sum()

In [ ]:
data['туризм'].drop(columns = ['заголовок','тип_автора','место_публикации','возраст','просмотров','место','цитируемость_сми','пол','страна','регион','город'],inplace = True)# удаление столбиков

In [ ]:
data['туризм'].dropna(subset = ['язык','обработанныи_текст_лемматизация_и'], inplace = True)# удаление пропусков в строках

In [ ]:
username = 'postgres'
password = 'postgres'
database = 'main_db'
host = 'localhost'  # or your database host
port = '5432'  # default MySQL port
engine = sqlalchemy.create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')

In [ ]:
for key in keys:
    data[key].to_sql(key, con=engine, if_exists='replace', index=False)
    print(key,'finished')